@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css?family=Audiowide");

@media only screen and (min-width: 500px) {
    * {
        display: none;        
        }
  }
@media (max-width:480px){
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 750;
    color: #000;
}

.cardBox {
    position: relative;
    width: 100%;
    top: 0%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.cardBox .card {
    position: relative;
    background: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;

}

.cardBox .card:hover {
    transition: 0.1s;
    box-shadow: 4px 5px rgba(0, 0, 0, 0.2);
}

.cardBox .card .numbers {
    position: relative;
    font-size: 2em;
    font-weight: 500;
}

.cardBox .card .cardName {
    color: #000;
}

.cardBox .card .iconBox {
    font-size: 2em;
    color: #000;
}

.createdata{
    border-radius: 10px;
    width: calc(100% - 50%);
    background-color: #000731;
    color:#fff;
}
.cardBox .createdata{
    margin-left: calc(100% - 75%);
  
}
}
@media (max-width:480px) {
    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .cardBox .card {
        transition: 0.1s;
        box-shadow: -5px 8px #e7b32e;
    }
}


.name{
    padding-top: 10% ;
    color: rgb(15, 80, 201);
    text-align: center;
}
.details{
    justify-content: center;
    align-items: center;
    display: flex;
}