<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers"></div>
            <div class="cardName">Current Balance</div>
        </div>
        <div class="iconBox">
            <!-- <mat-icon>android</mat-icon> -->
        </div>
    </div>

    <div class="card">
        <div>
            <span id="ct" class="numbers"></span>
            <div class="cardName">Total</div>
        </div>
        <div class="iconBox">
            <!-- <i class="material-icons md-24">account_balance</i> -->
        </div>
    </div>
    <mat-form-field>
        <input type="number" matInput placeholder="Enter Income" [(ngModel)]="income" value="">
    </mat-form-field>

    <mat-form-field>
        <input type="number" matInput placeholder="Enter Expense" [(ngModel)]="expense">
    </mat-form-field>

    <mat-form-field>
        <input type="date" matInput [(ngModel)]="date">
    </mat-form-field>
    <button mat-raised-button (click)="createData()">submit</button>
</div>

<div class="list row" style="margin-top: 20%;">
    <div class="col-md-6">
        <h4>List</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let excal of excal;let i = index" [class.active]="i == currentIndex"
                (click)="setIncome(excal,i)">
                Date = {{excal.date}}
            Income = {{excal.income}}
                Expense = {{excal.expense}}
            </li>
        </ul>
        <button class="m-3 btn btn-sm btn-danger" (click)="removeAll()">
            Remove All 
        </button>
    </div>
</div>