<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers"></div>
            <div class="cardName">Current Balance</div>
        </div>
        <div class="iconBox">
            {{currbal}}
        </div>
    </div>

    <div class="card">
        <div>
            <span id="ct" class="numbers"></span>
            <div class="cardName">Total</div>
        </div>
        <div class="iconBox">
            
        </div>
    </div>
    <mat-form-field>
        <input type="number" matInput placeholder="Enter Income" [(ngModel)]="income" value="0">
    </mat-form-field>

    <mat-form-field>
        <input type="number" matInput placeholder="Enter Expense" [(ngModel)]="expense" value="0">
    </mat-form-field>

    <mat-form-field>
        <input type="date" matInput [(ngModel)]="date">
    </mat-form-field>
    <button mat-raised-button (click)="createData()">submit</button>
</div>

<div class="fixTableHead">
    <table>
        <thead>
            <tr>
                <th>S.no</th>
                <th>Date</th>
                <th>Income</th>
                <th>Expense</th>
            </tr>
        </thead>

        <tbody *ngFor="let excal of excal;let i = index"
        [class.active] ="i == currentIndex"
        (click)="setData(excal,i)">

        <tr>
            <td>{{i+1}}</td>
            <td>{{excal.date}}</td>
            <td>{{excal.income}}</td>
            <td>{{excal.expense}}</td>
        </tr>
        </tbody>
        <button class="stickybutton" mat-button (click)="removeAll()">
            Remove All 
        </button>
    </table>

</div>

  
  