<div style="justify-content: space-between;display: flex;" >
<button class="back"  (click)="Onselect()" color="none"><mat-icon>reply</mat-icon></button>
<!-- <button class="refresh" (click)="refresh()"><mat-icon>refresh</mat-icon></button> -->
</div>

<div class="fixTableHead">
    <table>
        <thead>
            <tr>
                <th>S.no</th>
                <th>Date</th>
                <th>Income</th>
                <th>Expense</th>
            </tr>
        </thead>

        <tbody *ngFor="let excal of excal;let i = index"
        [class.active] ="i == currentIndex"
        (click)="setData(excal,i)">
        <tr>
            <td (click)="currentData()">{{i+1}}</td>
            <td (click)="currentData()">{{excal.date}}</td>
            <td (click)="currentData()">{{excal.income}}</td>
            <td (click)="currentData()">{{excal.expense}}</td>
        </tr>
        </tbody>
    </table>
</div>
<button class="stickybutton" mat-button (click)="removeAll()">
    Remove All 
</button>

<div class="cardBox">
    <div class="card">
        <div>
            <div class="numbers"></div>
            <div class="cardName">Income : {{this.incomeView}}</div>
        </div>
        <div class="iconBox">
            
        </div>
    </div>
    <div class="card">
        <div>
            <div class="numbers"></div>
            <div class="cardName">Expense : {{this.expenseView}}</div>
        </div>
        <div class="iconBox">
            
        </div>
    </div>
</div>